.highlight {
  background-color: aquamarine;
}
.navbar-style {
  background-color: rgb(43, 121, 62) !important;
}

.green-highlight {
  color: rgb(126, 238, 75);
  font-size: 40px;
}

.red-highlight {
  color: rgb(240, 64, 64);
  font-size: 25x;

}